<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>37711796775-rphl30tdjafm5rv3008s2vbkifhk439q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.37711796775-rphl30tdjafm5rv3008s2vbkifhk439q</string>
	<key>API_KEY</key>
	<string>AIzaSyDaZqDcB4sKnQx1Tyw4k38JbyGZng62r3g</string>
	<key>GCM_SENDER_ID</key>
	<string>37711796775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chatzon-d0638</string>
	<key>STORAGE_BUCKET</key>
	<string>chatzon-d0638.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:37711796775:ios:50cd853e8a0655ca844c02</string>
</dict>
</plist>